:root {
  --result-columns: 2;
}

.ListOfGifs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  align-items: center;
  grid-template-rows: masonry;
  min-height: 100vh;
}

.ListOfGifs-item {
  display: inline-block;
  border-radius: 10px;
  background-color: #323844;
  padding-bottom: 20px;
  width: 100%;
}

.ListOfGifs-item > h4 {
  margin: 4px;
}

.ListOfGifs-item > img {
  width: 100%;
  min-height: 300px;
}

