:root {
  --result-columns: 2;
}

a {
  text-decoration: none;
}

.ListOfGifs > .ListOfGifs-item:nth-child(odd) > a{
  color: black;
}


.ListOfGifs > .ListOfGifs-item:nth-child(even) > a{
  color: white;
}

.ListOfGifs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  align-items: center;
  grid-template-rows: masonry;
  min-height: 100vh;
}

.ListOfGifs > .ListOfGifs-item:nth-child(odd) {
  background-color: rgb(213, 255, 59);
}


.ListOfGifs > .ListOfGifs-item:nth-child(even) {
  background-color: rgb(185, 59, 255);
}


.ListOfGifs-item {
  display: inline-block;
  border-radius: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.ListOfGifs-item > h4 {
  margin: 4px;
}

.ListOfGifs-item > img {
  width: 100%;
  min-height: 300px;
}
