:root {
  --width: 30%;
}

.Sidebar {
  position: fixed;
  height: 100vh;
  background-color: black;
  z-index: 999999;
  overflow: auto;
  top: 13px;
  width: var(--width);
  left: calc(0px - var(--width));
  text-align: left;
  font-size: 1.1rem;
}

#btnToggle{
  font-family: "Josefin Sans", sans-serif;
}

.ToggleBtn {
  left: 0px;
  position: fixed;
  width: var(--width);
  background-color: rgb(55, 58, 51);
  color: #fff;
  border: none;
  font-size: 1.5rem;
}

.ToggleBtn:focus,
.Sidebar:hover {
  left: calc(var(--width) - var(--width));
  transition: all 0.2s ease-out;
}

@media (max-width: 768px) {
  .ToggleBtn {
    left: 0px;
    position: relative;
    background-color: rgb(55, 58, 51);
    color: #fff;
    border: none;
    font-size: 1.5rem;
    width: 100%;
  }

  .Sidebar {
    position: relative;
    height: 100vh;
    background-color: chartreuse;
    z-index: 10000;
    overflow: auto;
    width: 100%;
    left: 0px;
    text-align: left;
    font-size: calc(10px + 2vmin);
  }
}


