:root {
  --width: 30%;
}

.Sidebar {
  position: fixed;
  height: 100vh;
  background: linear-gradient(to right, rgb(0, 0, 0) 2% ,#0d2657, rgb(87, 87, 87) );
  z-index: 10000;
  overflow: auto;
  top: 43px;
  width: var(--width);
  left: calc(0px - var(--width));
  text-align: left;
  margin-top: 10px;
}

.ToggleBtn {
  left: 0px;
  position: fixed;
  width: var(--width);
  background: linear-gradient(to right, rgb(0, 0, 0) 2% ,#0d2657, rgb(87, 87, 87) );
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  border: none;
  height: 22px;
}

.ToggleBtn:focus,
.Sidebar:hover {
  left: calc(var(--width) - var(--width));
  transition: all 0.1s ease-out;
}

