.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu{
  z-index: 999999;
}

.searchForm{
  padding-right: 15px;
}

.searchForm > button{
  background-color: #2d59b3;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  border: none;
  height: 22px;
}

.searchForm > input{
  border-radius: 10px 0 0 10px;
  border: none;
  height: 20px;
}

.anchor{
  color: #fff;
  text-decoration: none;
}


nav{
  padding-bottom: 52px;
}

h3{
  margin: 13px;
  color: #2b58b4;
  cursor: pointer;
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: fixed;
  background-color:#323844 ;
}

.col{
  width: auto;
  display: flex;
  flex-direction: row;
}

.col-s{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: -1;
  justify-content: flex-end;
}

.search{
  flex-flow: end;
}

@media screen and (max-width: 984px){
  .col-s{
    display: none;
  }
}

.btn{
  width: auto;
  background-color: #2b58b4;
  border: none;
  border-radius: 10px;
  color: white;
  height: 30px;
  cursor: pointer;
}