@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Lexend+Peta&display=swap");

:root{
  background-color: black;
}

.App {
  text-align: center;
}

.App-content {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(0.8rem + 2vmin);
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.searchForm{
  padding-right: 15px;
}

.searchForm > button{
  background-color: #2d59b3;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  border: none;
  height: 22px;
}

.searchForm > input{
  border-radius: 10px 0 0 10px;
  border: none;
  height: 20px;
}

.anchor{
  color: #fff;
  text-decoration: none;
}



.row{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: fixed;
  
}

.col{
  width: auto;
  display: flex;
  flex-direction: row;
}

.col-s{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: flex-end;
}

.search{
  flex-flow: end;
}



.btn{
  width: auto;
  background-color: #2b58b4;
  border: none;
  border-radius: 10px;
  color: white;
  height: 30px;
  cursor: pointer;
}